 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url(pexels-pixabay-268976.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.todo-container {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #e77d04;
    font-style: inherit;
}

.input-area {
    display: flex;
    margin-bottom: 20px;
}

.input-area input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.input-area button {
    padding: 10px;
    background-color: #e77d04;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

.input-area button:hover {
    background-color: #b3b8bb;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

li button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

li button:hover {
    background-color: #c0392b;
}

@media (max-width: 600px) {
    .todo-container {
        width: 100%; 
    }

    .input-area input, .input-area button {
        font-size: 14px;
        padding: 8px;
    }

    li {
        font-size: 14px;
    }
}
